@media (min-width: 1200px) {
.img-fluid-logo {
	max-width:60%;
	height:auto;
 }
}

@media (max-width: 1199px) {
.img-fluid-logo {
	max-width:50%;
	height:auto;
 }
}

@media (max-width: 992px) {
.img-fluid-logo {
	max-width:20%;
	height:auto;
 }
}

@media (max-width: 768px) {
.img-fluid-logo {
	max-width:15%;
	height:auto;
 }
}

.text-target {
  color: #fb9678 !important; 
  border-top-color: #fb9678; 
}

.text-files {
  color: #7E81CB !important; 
  border-top-color: #7E81CB; 
}

.text-usage {
  color: #01C0C8 !important; 
  border-top-color: #01C0C8; 
}

.text-duration {
  color: #c57ecb !important; 
  border-top-color: #c57ecb; 
}

.morris-hover {
  top: -20px !important;
}

.btn-sm {
  line-height: 5px;
}

.checkbox-fade-custom label {
    line-height: 39px;
}
