@media (max-width: 992px) {
.img-fluid-logo {
	max-width:20%;
	height:auto;
 }
}

@media (max-width: 1199px) {
.img-fluid-logo {
	max-width:30%;
	height:auto;
 }
}

@media (min-width: 1200px) {
.img-fluid-logo {
	max-width:60%;
	height:auto;
 }
}
