.hidden-br {
	display: none;
}

@media (min-width: 1200px) {
.img-fluid-logo {
	max-width:60%;
	height:auto;
 }

.showChat_inner {
    width: 75%;
 }
}

@media (max-width: 1199px) {
.img-fluid-logo {
	max-width:50%;
	height:auto;
 }

.showChat_inner {
    width: 90%;
 }
}

@media (max-width: 992px) {
.img-fluid-logo {
	max-width:20%;
	height:auto;
 }
.showChat_inner {
    width: 90%;
 }
}

@media (max-width: 768px) {
.img-fluid-logo {
	max-width:15%;
	height:auto;
 }

.hidden-br {
	display: inline;
 }

.showChat_inner {
    width: 90%;
 }
}

.text-target {
  color: #fb9678 !important; 
  border-top-color: #fb9678; 
}

.text-files {
  color: #7E81CB !important; 
  border-top-color: #7E81CB; 
}

.text-usage {
  color: #01C0C8 !important; 
  border-top-color: #01C0C8; 
}

.text-duration {
  color: #c57ecb !important; 
  border-top-color: #c57ecb; 
}

.morris-hover {
  top: -20px !important;
}

.btn-sm {
  line-height: 5px;
}

.checkbox-fade-custom label {
    line-height: 39px;
}

.card-block .new-destination .fade-in-primary .cr {
  border: 2px solid #ccc;
  margin-top: 12px;
  margin-right: 20px; }

.card-block .new-destination .fade-in-primary .subject {
  display: block;
  margin-left: 35px;
  margin-bottom: 16px; }

.card-block .new-destination .fade-in-primary .check-task p {
  display: block;
  margin-left: 35px; }

.task-list-to-do .card-block .new-destination .fade-in-primary span.cr {
  margin-top: 0; }

.destination-list {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px; }

.destination-list img {
    font-size: 24px;
    opacity: 0; }

.destination-list:last-child {
    border: none;
    padding: 0;
    margin: 0; }

.destination-list:hover img {
    opacity: 1;
    transition: opacity ease-in 0.3s; }

.destination-list p {
    display: inline-block; }

.btn-rounded-rbui {
    border-radius: 25px !important;
/*    border: 3px solid transparent !important;*/
}

.img-dest-buttons {
	max-width: 24px;
	height: auto;
}

.log-scroll {
	height: 80%;
	width: auto;
	overflow: scroll;
	padding: 10px;
/*	overflow-x: hidden; */
}

.log-scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.showChat_inner {
        padding: 5px;
 }

.log-inner-header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
}

.back_logList {
	cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/*
::-webkit-scrollbar-thumb {
    background: url("../images/win-logo.png");
}
*/

.card-block-log-list {
    padding: 10px;
}
